.addkid__container {
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.addkid__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
}
.addkid__form__element {
  display: flex;
  justify-content: space-around;
  gap: 1rem; 
  >label {
    width: 35%;
    font-size: 2rem;
  }
  >input {
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  @media (max-width: 765px) {
    flex-direction: column;
    >label {
      width: 100%;
    }
  }
}