@use '../settings' as *;

.addkid__container {
  border: 1px solid $teal;
  border-radius: 0.5rem;
  background: $lightteal;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 75%;

  >h3 {
    background: $teal;
    color: white;
    padding: 1rem;
  }

  @media (max-width: 765px) {
    width: 95%;
  }
}

.addkid__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.addkid__form__element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  gap: 1rem;

  >label {
    width: 35%;
    font-size: 2rem;
  }

  >input {
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  >button {
    width: 15rem;
  }

  @media (max-width: 765px) {
    flex-direction: column;

    >label {
      width: 100%;

    }
  }
}

.addkid__error {
  color: $darkred;
  text-align: center;
}