@use '../settings' as *;

.allowances__header {
  display:flex;
  justify-content: space-between;
  background: $teal;
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1.5rem;
  >div {
    font-weight: bold;
  }
}

.allowances__noFam {
  text-align:center;
  border: 1px solid $teal;
  border-radius: 0.5rem;
  margin-top: 2rem;
  > h2 {
    padding: 1rem;
    background: $teal;
    color: white;
  }
}

.allowances__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $teal;
  border-top: 0;
  padding: 1.4rem;
  background: $lightteal;
  text-decoration: none;
  color: #555;
}

.allowances--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
}

.allowances__data {
  font-size: 1.5em;
  font-weight: bold;
}