.header__mode {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  background-color: yellow;
  background-image: repeating-linear-gradient(
    45deg,
    black,
    black 4px,
    transparent 4px,
    transparent 20px
  );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @media (max-width: 765px) {
    padding: 0;
  }
}

.header__subtitle {
  font-size: 2rem;
  color: #333;

  @media (max-width: 765px) {
    font-size: 1.5rem;
  }
}

.header__nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}


.header__family__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  @media(max-width: 765px) {
    margin-top: 1rem;
  }
}

.header__family__link,
.header__family__login {
  padding: 0.5rem 0;
}

.header__family__link {
  >a {
    text-decoration: none;
  }
  @media (max-width: 765px) {
    font-size: 2.5rem;
  }
}

.header__family__login {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}