@use 'sass:color';
@use '../settings' as *;

.listkids__container {
  border: 1px solid $teal;
  border-radius: 0.5rem;
  background: $lightteal;
  margin: 2rem 0;
  >h2 {
    background: $teal;
    padding: 1rem;
    color: white;
  }
}

.listkids__none {
  text-align: center;
  padding: 2rem;
}

.listkids__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: color.scale($teal, $lightness: 10%);
  padding: 0.5rem;
  color: white;
  @media (max-width: 765px) {
    text-align: center;
  }
}

.listkids__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.listkids__kid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  >div {
    width: 25%;
  }
  >div:nth-child(2),
  >div:nth-child(3),
  >div:nth-child(4) {
    text-align:right;
  }
}