.listkids__container {
  border: 1px solid #bbb;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 2rem 0;
}

.listkids__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.listkids__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem 0;
}

.listkids__kid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}