@use 'sass:color';
@use '../settings' as *;

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.login__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
}

.login__tabs__btn {
  cursor: pointer;
  padding: 1rem 0;
  transition: background 0.3s;
  background: color.adjust($teal, $alpha: -0.3);
  color: #ddd;
  font-size: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0;
  width: 17rem;
}

.login__tabs__btn--active {
  background: $teal;
  font-weight: bold;
  color: white;
}


.login__tab__content {
  background: $lightteal;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login__google {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.login__error__message {
  width: 35rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: $darkred;
  background: $lightteal;
}

.login__buttons {
  padding: 1rem;
  text-align: center;
}

.login__btn {
  width: 30rem;
}

.login__or {
  font-weight: bold;
  font-size: 2rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  >h2 {
    color: white;
  }
}

.login__form__element {
  padding: 0.5rem;
  margin-top: 1rem;
}

.login__form__forgot {
  text-align: right;
  padding: 1rem;
}